// In a very likely case where I will forget how to configure this:
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/layouts/default.swap.kdl

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left  "#[bg=$bg,fg=$fg]{mode}#[bg=$bg] {tabs}"
                format_right "#[bg=$bg,fg=$fg]{swap_layout}#[bg=$bg,fg=$fg] {session}"
                format_space "#[bg=$bg]"

                tab_normal "#[bg=$bg,fg=$fg]{name}"
                tab_active "#[bg=$bg,fg=$focus,bold]{name}"
                tab_separator "#[bg=$bg] "

                swap_layout_format "#[bg=$bg,fg=$focus]{name}"

                mode_normal       "#[bg=$bg,fg=$fg]"
                mode_tmux         "#[bg=$bg,fg=$focus]"
                mode_pane         "#[bg=$bg,fg=$focus]"
                mode_tab          "#[bg=$bg,fg=$focus]󰓩"
                mode_scroll       "#[bg=$bg,fg=$focus]󰹹"
                mode_enter_search "#[bg=$bg,fg=$focus]"
                mode_rename_tab   "#[bg=$bg,fg=$focus]"
                mode_session      "#[bg=$bg,fg=$focus]"

                color_bg "#4e55d9"
                color_fg "#f4aa51"
                color_focus "#8deed4"
            }
        }
        children
    }

    swap_tiled_layout name="side-right" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane size="60%"
                pane split_direction="horizontal" { children; }
            }
        }

        tab min_panes=6 {
            pane split_direction="vertical" {
                pane size="60%"
                pane stacked=true { children; }
            }
        }
    }

    swap_tiled_layout name="columns" {
        tab max_panes=4 {
            pane split_direction="vertical" {
                pane
                pane
                pane
            }
        }
    }

    swap_floating_layout name="columns" {
        floating_panes exact_panes=1 {
            pane x="20%" y="20%" width="60%" height="60%"
        }
        floating_panes min_panes=2 {
            pane x="10%" y="20%" width="40%" height="60%"
            pane x="50%" y="20%" width="40%" height="60%"
        }
    }
}
