[include]
	path = ~/.gitconfig.local
[core]
	excludesFile = ~/.gitignore
	autocrlf = false
	eol = lf
[alias]
	af = !git add $(fzf)
	st = status -sb
	co = checkout
	cb = checkout -b
	cm = commit
	cma = commit --amend
	cmm = commit --amend --no-edit
	d = difftool
	ds = difftool --staged
	lol = log --oneline --graph --all
[init]
	defaultBranch = main
[status]
	showUntrackedFiles = all
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[commit]
	verbose = true
[rebase]
	autoSquash = true
	autoStash = true
[pull]
	rebase = true
	autoSquash = true
	autoStash = true
[pager]
	difftool = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = difft
[difftool]
	prompt = false
[difftool "difft"]
	cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[merge]
	autoStash = true
	tool = nvim
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "nvim"]
	cmd = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
	trustExitCode = true
[advice]
	addEmptyPathspec = false
