[include]
	path = ~/.gitconfig.local
[core]
	excludesFile = ~/.gitignore
[alias]
	st = status -sb
	co = checkout
	cb = checkout -b
	cm = commit
	cmm = commit --amend --no-edit
	lol = log --oneline --graph --all
[init]
	defaultBranch = main
[status]
	showUntrackedFiles = all
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[commit]
	verbose = true
[rebase]
	autoSquash = true
	autoStash = true
[pull]
	rebase = true
	autoSquash = true
	autoStash = true
[merge]
	autoStash = true
